
/*section index*/

body{
    margin: 0;
    padding: 0;
}
.header {
    background: url(img/Spoon_cLe_Bonbon-1-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 55px;
    background-color: red;
}

.onglet a {
    text-decoration: wavy;
    color: white;
    margin-right: 20px;
}


.titre {
    color: white;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
}
/*section menu*/
#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}
#Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#menu_row {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 100px 0 100px;
    justify-content: center;
}

#menu_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;

}
#menu_col h2{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;

}
#img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
#image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;

}

/*section info*/

